<div class="lg:w-3/12 mt-5 p-10 shadow-xl mx-auto">
    <h3 class="text-3xl text-center font-semibold py-5">forget-password</h3>
    <form [formGroup]="forgetForm" class="flex flex-col">
        <span class="mb-4">
            Introduzca el e-mail, se enviarán las instrucciones para cambiar la contraseña.
        </span>
        <div class="flex flex-col mt-4 mb-1">
            <input  formControlName="email" class="p-2 border border-gray-300 rounded" type="text" placeholder="E-mail">
            <span *ngIf="forgetForm.hasError('required', 'email') && forgetForm.controls['email'].dirty" class="text-red-500">*e-mail obligatorio</span>
            <span *ngIf="forgetForm.hasError('email', 'email')" class="text-red-500">*e-mail inválido</span>
        </div>
        <div class="mt-2">
            <button (click)="submit()" [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" 
            class="bg-indigo-500 w-1/4 mr-3 p-2 rounded-md text-gray-50">Enviar</button>
            <button routerLink="/login" class="bg-gray-500 w-1/4 p-2 rounded-md text-gray-50">Cancelar</button>
        </div>
    </form>
</div>