<div class="flex justify-center mt-5">
  <div class="w-full max-w-screen-xl mx-4 dark:bg-indigo-100 rounded flex">
    <!-- Imagen del producto a la izquierda -->
    <div class="w-1/4 dark:bg-indigo-200 mb-4 mt-4 shadow ml-4">
      <img [src]="prod.image" alt="Imagen del producto" class="w-full h-auto shadow-md rounded">
    </div>

    <!-- Datos del producto y botón a la derecha -->
    <div class="w-3/4 ml-4 flex flex-col justify-between">
      <div>
        <div class="dark:bg-indigo-100 rounded mb-2 mt-2">
          <h1 class="text-xl font-bold mb-4 dark:bg-indigo-200 rounded shadow">{{ prod.name }}</h1>
          <p class="mt-2 mb-8 dark:bg-indigo-200 rounded shadow">{{ prod.description }}</p>

          <p class="mt-2 font-bold">Precio: {{ prod.price }}€</p>
          <!-- Botón para añadir al carrito -->
          <button (click)="AddProductToCart(prod)" class="bg-blue-500 dark:bg-indigo-400 text-white font-bold py-2 px-4 rounded shadow">
            Añadir al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mt-8 ml-3 mb-20">
  <h2 class="text-xl font-bold mb-4">Valoraciones:</h2>
  <div class="flex overflow-x-auto">
    <!-- Verificar si hay valoraciones -->
    <ng-container *ngIf="ratingProd && ratingProd.length > 0; else noValoraciones">
      <div class="flex-shrink-0 w-96 mr-6 mb-2 ml-3" *ngFor="let comentario of ratingProd; let i = index">
        <div class="p-4 bg-white rounded shadow-md">
          
          <h3 class="text-xl font-bold">{{ comentario.username }}</h3>
          <i *ngFor="let starClass of getStarClasses(comentario.rating.toString())" class="fa" [ngClass]="starClass" style="font-size:16px"></i>
          <p class="mt-2">{{ comentario.coment }}</p>
        </div>
      </div>
    </ng-container>
    <!-- Mostrar mensaje si no hay valoraciones -->
    <ng-template #noValoraciones>
      <p class="text-xl">El producto todavía no ha sido valorado.</p>
    </ng-template>
  </div>
</div>


