<div class="w-64 fixed bottom-0 mb-14 max-w-sm p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-indigo-400 shadow-lg mt-4 ml-4">
    <div class="mb-1">
        <h6 class="text-sm font-semibold text-gray-700 mb-1 dark:text-white">Ranking de productos</h6>
        <i *ngFor="let pro of purchases; index as i">
            <i *ngIf="i<3">
            <div class="flex items-center mt-1" >
                    <div *ngIf="i==0" class="bg-yellow-500 text-white rounded-full p-2 text-xs mr-2">1</div>
                    <div *ngIf="i==1" class="bg-gray-300 text-gray-700 rounded-full p-2 text-xs mr-2">2</div>
                    <div *ngIf="i==2" class="bg-amber-800 text-white rounded-full p-2 text-xs mr-2">3</div>
                    <div class="text-sm">{{pro.product}}  - {{pro.quantity}} veces</div>
            </div>
            </i>
        </i>
        <i *ngIf="purchases.length == 0"> No hay compras realizadas por los usuarios.</i>
    </div>
</div>