<div class="w-96 max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-indigo-400 dark:bg-indigo-400 shadow-lg mt-4 mr-4" >
    <div class="flex items-center justify-between mb-4" >
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white hover:no-underline" (click)="MostrarOcultar('carromato')" style="user-select: none;"> MY CART    <i style="margin-left: 10px;" class="fa fa-cart-plus"></i> </h5>
        <button (click)="ClearCart()" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500"> Clear </button>
    </div>
   <div id="carromato" style="display: flex; display: none;">
        <div class="text-lg font-medium text-gray-900 truncate dark:text-white" style="text-align: center;" *ngIf="products.length==0">
            Your cart is empty
        </div>
        <div *ngIf="products.length!=0" class="flow-root" >
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700" >
                <div *ngFor="let cartProduct of products">
                    <li class="py-3 sm:py-4">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full" src="https://i.blogs.es/069317/pacman/1024_2000.jpg" alt="Neil image">
                            </div>
                            <div class="flex-1 min-w-0 ms-4">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    {{ cartProduct.nameProduct }}
                                </p>
                            </div>
                            <div class="flex-1 flex min-w-0 ms-4 items-center">
                                <button type="button" (click)="ModifyAmount(cartProduct, '-')" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-red-300 font-medium rounded-lg text-xs px-2 py-1 me-1 mb-1 dark:bg-red-600 dark:hover:bg-red-700"><i class="fa fa-minus" style="font-size:10px"></i></button> 

                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white ml-2 mr-3">
                                {{ cartProduct.amount }}
                                </p>

                                <button type="button" (click)="ModifyAmount(cartProduct, '+')" class="text-white bg-blue-700 hover:bg-blue-800  font-medium rounded-lg text-xs px-2 py-1 me-1 mb-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none">  <i class="fa fa-plus" style="font-size:10px"></i></button>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                {{ cartProduct.price }}€
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                <button type="button" (click)="DeleteProduct(cartProduct)" class="focus:outline-none text-white hover:text-black font-medium rounded-lg text-xs px-2 py-1 me-1 mb-1"><i class='fa fa-trash-o' style='font-size:24px'></i></button> 
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <div class="text-lg font-medium text-gray-900 truncate dark:text-white" style="display: flex; margin-top: 10px; justify-content: space-between; padding-top: 10px; border-top: 2px solid #333;">
            <h1> Total </h1>
            <h2 id="totalCompra"> 0.00 €</h2>
            <a class="flex items-center p-1 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-indigo-300 dark:hover:bg-indigo-500 dark:text-white">
                <span class="flex-1 ms-0 whitespace-nowrap" style="user-select: none;"><i>Comprar</i></span>
            </a> 
        </div>
    </div>
</div>
