<!-- FILTROS -->
<div class="flex items-center justify-center space-x-4 mt-4 mb-2">
  
  <button type="button" (click)="changeSort('default')" class="text-white font-mediumtext-sm focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-indigo-400 dark:hover:bg-indigo-500 focus:outline-none dark:focus:ring-indigo-500">Por defecto</button>
  <button type="button" (click)="changeSort('name')" class="text-white font-mediumtext-sm focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-indigo-400 dark:hover:bg-indigo-500 focus:outline-none dark:focus:ring-indigo-500">Nombre</button>
  <button type="button" (click)="changeSort('priceAlto')" class="text-white focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-indigo-400 dark:hover:bg-indigo-500 focus:outline-none dark:focus:ring-indigo-500">Precio más alto</button>
  <button type="button" (click)="changeSort('priceBajo')" class="text-white focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-indigo-400 dark:hover:bg-indigo-500 focus:outline-none dark:focus:ring-indigo-500">Precio más bajo</button>
  <button type="button" (click)="changeSort('stockmayor')" class="text-white focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-indigo-400 dark:hover:bg-indigo-500 focus:outline-none dark:focus:ring-indigo-500">Stock mayor</button>
  <button type="button" (click)="changeSort('stockmenor')" class="text-white focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-indigo-400 dark:hover:bg-indigo-500 focus:outline-none dark:focus:ring-indigo-500">Stock menor</button>
</div>
<!-- CENTRO -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 mt-0" style="max-height: 82vh; overflow: auto; scrollbar-width: thin;">
  <!-- Utiliza ngFor para iterar sobre la lista de productos -->
  <div *ngFor="let producto of sortedProducts"  class="p-4" [style.display]="shouldDisplayProduct(producto)">
    <!-- Estructura de tu tarjeta de producto con Tailwind CSS -->
      <div *ngIf="idCategory == producto.category_id || !idCategory || idCategory=='655abbdba628f0ea1f33cd89'" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-indigo-400 ">
        <a >
          <img class="w-full h-48 object-cover rounded-t-lg" src="{{producto.image}}" alt="product image" />
        </a>
        <div class="px-5 pb-5">
          <a >
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white pt-1.5">{{producto.name}}</h5>
          </a>

                <!--VALORACIONES-->
                <div class="flex items-center space-x-1 rtl:space-x-reverse text-white font-mediumtext-sm">
                  <button (click)="openRatingModal(producto)">
                    <ng-container *ngIf="totalAmount2(producto) > 0; else noRating">
                      <ng-container *ngFor="let index of getRange(5)">
                        <i class="fa" [ngClass]="getStarIcon(totalAmount2(producto), index)" style="font-size:16px"></i>
                      </ng-container>
                      <span> - {{ totalAmount(producto) }} </span>
                    </ng-container>
                  </button>

                  <ng-template #noRating>
                    <i class='fa fa-star-o' style='font-size:16px'></i>
                    <i class='fa fa-star-o' style='font-size:16px'></i>
                    <i class='fa fa-star-o' style='font-size:16px'></i>
                    <i class='fa fa-star-o' style='font-size:16px'></i>
                    <i class='fa fa-star-o' style='font-size:16px'></i>
                    <span> - Sin valoraciones</span>
                  </ng-template>
                </div>

          <div class="flex items-center mt-2.5 mb-5">
            <div class="flex items-center space-x-1 rtl:space-x-reverse text-white font-mediumtext-sm ">
              Stock: {{ producto.stock}}
            </div>
          </div>
          <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">{{producto.price}}€</span>
            <a (click)="AddProductToCart(producto)" class="text-white dark:bg-indigo-300 dark:hover:bg-indigo-500 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center " style="user-select: none;">Añadir al carrito</a>
          </div>
        </div>
      </div>
  </div>
</div>

<!--RATING MODAL-->
<div *ngIf="isRatingModalOpen" class="fixed inset-0 bg-gray-700 bg-opacity-75 flex items-center justify-center">
  <div class="bg-white p-6 rounded-lg shadow-md w-96">

    <label for="editedClientIsAdmin">Puntua el producto</label>
    <select id="editedClientIsAdmin" [(ngModel)]="rating" class="w-full border rounded px-3 py-2 mb-3">
      <option value="1">&#9733;</option>
      <option value="2">&#9733;&#9733;</option>
      <option value="3">&#9733;&#9733;&#9733;</option>
      <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
      <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
    </select>

    <!-- Caja de texto para el comentario -->
    <textarea [(ngModel)]="comment" class="w-full border rounded px-3 py-2" placeholder="Escribe un comentario..."></textarea>

    <div class="flex justify-end mt-3">
      <!-- Botones de guardar y cancelar -->
      <button (click)="saveRating()" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar</button>
      <button (click)="closeRatingModal()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded ml-2">Cancelar</button>
    </div>
  </div>
</div>
