

<div class="container-fluid">
    <div class="row">
      <!-- Este -->
      <div class="col-md-2" style="background-color: lightblue; padding: 10px;">
        <p>Este</p>
      </div>
  
      <!-- Centro -->
      <div class="col-md-8" style=" padding: 10px; margin: 0; justify-content: center; align-items: center; display: flex;">
        <app-product></app-product>
      </div>
  
      <!-- Oeste -->
      <div class="col-md-2" style="background-color: lightcoral; padding: 10px;">
        <p>Oeste</p>
      </div>
    </div>
  </div>