<!-- admin-control.component.html -->

<div class="flex">
    <!-- Clients Section -->
    <div class="w-1/2 p-4">
      <h2 class="text-3xl font-semibold mb-6"><i class="fa fa-drivers-license" style="font-size: 30px;" aria-hidden="true"> Clientes</i></h2>
      <div class="flex items-center mb-4">
        <input type="text" [(ngModel)]="clientSearch" placeholder="Buscar Cliente" class="p-2 border rounded mr-2">
      </div>
      <ul class="space-y-4">
        <li *ngFor="let client of filteredClients" class="flex items-center justify-between border-b pb-2">
          <span class="text-lg">{{ client.name }}</span>
          <div class="space-x-2">
            <button (click)="openEditClientModal(client)" class="text-blue-500 hover:underline"><i class="fa fa-edit" style="font-size: 30px;" aria-hidden="true"></i></button>
            <button (click)="deleteClient(client)" class="text-red-500 hover:underline"><i class="fa fa-close" style="font-size: 36px;" aria-hidden="true"></i></button>
            <!-- Agregar más botones CRUD según tus necesidades -->
          </div>
        </li>
      </ul>
    </div>
  
    <!-- Products Section -->
    <div class="w-1/2 p-4">
      <h2 class="text-3xl font-semibold mb-6">Productos</h2>
      <div class="flex items-center mb-4">
        <input type="text" [(ngModel)]="productSearch" (input)="filterProducts()" placeholder="Buscar Producto" class="p-2 border rounded mr-2">
        <button (click)="addProduct()" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Agregar Producto</button>
      </div>
      <ul class="space-y-4">
        <li *ngFor="let producto of filteredProducts" class="flex items-center justify-between border-b pb-2">
          <span class="text-lg">{{ producto.name }}</span>
          <div class="space-x-2">
            <button (click)="openEditProductModal(producto)" class="text-blue-500 hover:underline"><i class="fa fa-edit" style="font-size: 30px;" aria-hidden="true"></i></button>
            <button (click)="deleteProduct(producto)" class="text-red-500 hover:underline"><i class="fa fa-close" style="font-size: 36px;" aria-hidden="true"></i></button>
            <!-- Agregar más botones CRUD según tus necesidades -->
          </div>
        </li>
      </ul>
    </div>
  </div>

<!-- Edit Client Modal -->
<!-- Your edit client form goes here -->
<div *ngIf="isEditClientModalOpen" class="fixed inset-0 bg-gray-700 bg-opacity-75 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-md w-96">
      <h2 class="text-2xl font-semibold mb-4">Editar Cliente</h2>
  
      <label for="editedClientName">Nombre</label>
      <input id="editedClientName" [(ngModel)]="editedClientName" class="w-full border rounded px-3 py-2 mb-3" />
  
      <label for="editedClientEmail">Correo Electrónico</label>
      <input id="editedClientEmail" [(ngModel)]="editedClientEmail" type="email" class="w-full border rounded px-3 py-2 mb-3" />
  
      <label for="editedClientAddress">Dirección</label>
      <input id="editedClientAddress" [(ngModel)]="editedClientAddress" class="w-full border rounded px-3 py-2 mb-3" />
  
      <label for="editedClientProfileImage">Imagen de Perfil</label>
      <input id="editedClientProfileImage" [(ngModel)]="editedClientProfileImage" class="w-full border rounded px-3 py-2 mb-3" />
  
      <label for="editedClientIsAdmin">¿Es Admin?</label>
      <select id="editedClientIsAdmin" [(ngModel)]="editedClientisAdmin" class="w-full border rounded px-3 py-2 mb-3">
        <option value="true">Sí</option>
        <option value="false">No</option>
      </select>
      <!-- Add more form fields for other properties as needed -->
  
      <button (click)="saveEditedClient()" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar cambios</button>
      <button (click)="closeEditClientModal()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded ml-2">Cancelar</button>
    </div>
  </div>
  

<!-- Product Modal EDIT -->
<div *ngIf="isEditProductModalOpen" class="fixed inset-0 bg-gray-700 bg-opacity-75 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-md w-96">
      <h2 class="text-2xl font-semibold mb-4">Edit Product</h2>
      <!-- Your edit Product form goes here -->
      <label for="editedProductName">Name</label>
      <input id="editedProductName" [(ngModel)]="editedProductName" class="w-full border rounded px-3 py-2 mb-3" />
      
      <label for="editedProductPrice">Price</label>
      <input id="editedProductPrice" [(ngModel)]="editedProductPrice" class="w-full border rounded px-3 py-2 mb-3" />

      <label for="editedProductDescription">Description</label>
      <input id="editedProductDescription" [(ngModel)]="editedProductDescription" class="w-full border rounded px-3 py-2 mb-3" />
      
      <label for="editedProductStock">Stock</label>
      <input id="editedProductStock" [(ngModel)]="editedProductStock" class="w-full border rounded px-3 py-2 mb-3" />
      
      <label for="editedProductCategory">Category</label>
      <select id="category" class="bg-gray-50 w-full border rounded px-3 py-2 mb-3 border-gray-300 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500">
        <option value="" selected disabled>Select category</option>
        <ng-container *ngFor="let category of categories">
          <option [value]="category.id" *ngIf="category.name !== 'Todos'" [selected]="category._id == editedProductCategory">{{ category.name }}</option>
        </ng-container>
      </select >

      <label for="editedProductImageUrl">Image</label>
      <input id="editedProductImageUrl" [(ngModel)]="editedProductImageUrl" class="w-full border rounded px-3 py-2 mb-3" />
      
      <label for="editedProductCancel">Cancel</label>
      <select id="category" class="bg-gray-50 w-full border rounded px-3 py-2 mb-3 border-gray-300 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500">
        <option value="" selected disabled>Select cancel</option>
        <option [selected]="true == editedProductCancel">true</option>
        <option [selected]="false == editedProductCancel">false</option>
      </select >
      <!-- Add more form fields for other properties as needed -->
  
      <button (click)="saveEditedProduct()" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar cambios</button>
      <button (click)="closeEditProductModal()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded ml-2">Cancelar</button>
    </div>
</div>

<!-- Pop-up delete client confirmation -->
<div *ngIf="isPopupDeleteClient" class="fixed inset-0 bg-gray-700 bg-opacity-75 flex items-center justify-center">
  <div class="bg-white p-6 rounded-lg shadow-md w-96">
    <div class="p-4 md:p-5 text-center">
      <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
      <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">¿Estás seguro de que deseas eliminar este cliente?</h3>
      <button data-modal-hide="popup-modal" (click)="confirmDeleteClient()" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2"> Si </button>
      <button data-modal-hide="popup-modal" (click)="isPopupDeleteClient = false" type="button" class="bg-gray-300 text-gray-700 px-4 py-2 rounded ml-2">Cancelar</button>
    </div>
  </div>
</div>  

<!-- Pop-up delete product confirmation -->
<div *ngIf="isPopupDelete" class="fixed inset-0 bg-gray-700 bg-opacity-75 flex items-center justify-center">
  <div class="bg-white p-6 rounded-lg shadow-md w-96">
    <div class="p-4 md:p-5 text-center">
      <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
      <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">¿Estás seguro de que deseas eliminar este producto?</h3>
      <button data-modal-hide="popup-modal" (click)="confirmDeleteProduct()" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2"> Si </button>
      <button data-modal-hide="popup-modal" (click)="isPopupDelete = false" type="button" class="bg-gray-300 text-gray-700 px-4 py-2 rounded ml-2">Cancelar</button>
    </div>
  </div>
</div>  

<!-- Product Modal CREATE -->
<div *ngIf="isProductCreated" class="fixed inset-0 bg-gray-700 bg-opacity-75 flex items-center justify-center">
  <div class="bg-white p-6 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-4">Crear Producto</h2>
    <!-- Your edit Product form goes here -->
    <label for="editedProductName">Name</label>
    <input id="editedProductName" [(ngModel)]="editedProductName" class="w-full border rounded px-3 py-2 mb-3" />
    
    <label for="editedProductPrice">Price</label>
    <input id="editedProductPrice" [(ngModel)]="editedProductPrice" class="w-full border rounded px-3 py-2 mb-3" />

    <label for="editedProductDescription">Description</label>
    <input id="editedProductDescription" [(ngModel)]="editedProductDescription" class="w-full border rounded px-3 py-2 mb-3" />
    
    <label for="editedProductStock">Stock</label>
    <input id="editedProductStock" [(ngModel)]="editedProductStock" class="w-full border rounded px-3 py-2 mb-3" />
    
    <label for="editedProductCategory">Category</label>
    <select id="category" class="bg-gray-50 w-full border rounded px-3 py-2 mb-3 border-gray-300 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500">
      <option value="" selected disabled>Select category</option>
      <ng-container *ngFor="let category of categories">
        <option [value]="category.id" *ngIf="category.name !== 'Todos'" [(ngModel)]="editedProductCategory" [selected]="category._id == editedProductCategory">{{ category.name }}</option>
      </ng-container>
    </select >

    <label for="editedProductImageUrl">Image</label>
    <input id="editedProductImageUrl" [(ngModel)]="editedProductImageUrl" class="w-full border rounded px-3 py-2 mb-3" />
    
    <label for="editedProductCancel">Cancel</label>
    <select id="category" class="bg-gray-50 w-full border rounded px-3 py-2 mb-3 border-gray-300 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500">
      <option value="" selected disabled>Select cancel</option>
      <option [(ngModel)]="editedProductCancel" >true</option>
      <option [(ngModel)]="editedProductCancel">false</option>
    </select >
    <!-- Add more form fields for other properties as needed -->

    <button (click)="saveEditedProduct()" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar cambios</button>
    <button (click)="closeEditProductModal()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded ml-2">Cancelar</button>
  </div>
</div>