<nav class="w-full flex justify-between items-center p-5 bg-indigo-400 shadow-lg">
    <div class="logo">
        <span class="text-gray-200 text-4xl flex justify-start items-center" style="user-select: none;" routerLink="/home">PROYECTO ARCADE</span>
    </div>
    <div *ngIf="isLoggedIn" class="search relative">
        <span class="absolute mt-1.5 mx-3"><i class="fa fa-search font-light" aria-hidden="true"></i></span>
        <!--input type="text" class="w-96 p-2 pl-9 rounded-r-none text-gray-500"-->
        <input type="text" [ngModel]="searchQuery" (input)="updateSearchQuery($event)" placeholder="Buscar por nombre">



        <button class="bg-slate-400 p-2 rounded-r text-white outline-none outline-0">Buscar</button>
    </div> 
    <div class="nav-items">
        <ng-container *ngIf="!isLoggedIn">
            <span routerLink="/login" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Login</span>
            <span routerLink="/register" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Register</span>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
            <span (click)="logout()" routerLink="/login" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200" style="user-select: none;">Logout</span>
            <span (click)="miscompras()" routerLink="/login" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200" style="user-select: none;">Mis compras</span>
        </ng-container>
        <ng-container *ngIf="isAdmin">
            <span (click)="adminControl()" routerLink="/adminControl" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200" style="user-select: none;">Admin Control</span>
        </ng-container>
        
        

    </div>
</nav>