<!-- admin-control.component.html -->

<div class="flex">
    <!-- Clients Section -->
    <div class="w-1/2 p-4">
      <h2 class="text-3xl font-semibold mb-6"> Clientes</h2>

      <div style="max-height: 73vh; overflow: auto; scrollbar-width: thin; overflow-x: hidden;">

      </div>
    </div>
  
    <!-- Products Section -->
    <div class="w-1/2 p-4">
      <h2 class="text-3xl font-semibold mb-6">Productos</h2>

      <div style="max-height: 73vh; overflow: auto; scrollbar-width: thin;">

      </div>
    </div>
  </div>