
<div class="container text-center" style="text-align: center;">
    <div class="row row-cols-3" >
        <div class="col" *ngFor="let producto of productService.products; let i = index" style=" margin-bottom: 1%;">
            <div class="card" style="width: 90%; height: 100%; ">
                
                <div style="  display: flex; justify-content: space-between; flex-wrap: wrap;">
                    <i *ngIf="producto.image != ''" >
                        <img src="{{ producto.image }}" class="card-img-top"  alt="Imagen del Producto" style="  display: flex; justify-content: space-between; flex-wrap: wrap;"/>
                    </i>
                    <i *ngIf="producto.image == ''">
                        <img src="https://static.vecteezy.com/system/resources/previews/005/337/799/non_2x/icon-image-not-found-free-vector.jpg" style="  display: flex; justify-content: space-between; flex-wrap: wrap;" class="card-img-top" alt="Imagen del Producto"/>
                    </i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{producto.name}}</h5>
                    <p class="card-text">{{ producto.description }}</p>
                    <a href="#" class="btn btn-primary">Añadir</a>
                </div>
              </div>
        </div>
    </div>
  </div>